.linha-topo-vermelha-1{
	background-color:#ec3237;
	height: 6px;
}
.acabamento-topo-vermelho {
  background-color: #ec3237;
  width: 60%;
  height: 35px;
  position: absolute;
  right: 0;
  margin-top: -20px;
}

.triangulo-vermelho {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 35px solid #ec3237;
  margin-left: -60px;
}
