<section class="content">
  <h1 class="title">ALTERNADOR SCANIA</h1>

  <div class="separator">
    <span class="price-item selected">R$ 1.700,00</span> por unidade.
  </div>

  <div class="amout-line">
    Quantidade:
    <input type="text" name="quantidadeFixa" value="0" disabled="disabled" /> +
    <input type="text" name="quantidade" maxlength="3" />
  </div>

  <div class="totalCompraItem">
    <ul>
      <li>
        <input type="button" value="Adicionar" onclick="adicionarCarrinho()" />
      </li>
      <li><span id="valTotalProd">R$ 0,00</span></li>
    </ul>
  </div>
</section>
