:host-context {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.login-form-container {
  width: 50%;
  margin: 0 auto;
  min-width: 350px;
  max-width: 450px;

  .error-red-text {
    color: red;
    text-align: center;
    line-height: 30px;
  }

  .mdc-text-field--filled {
    background-color: #ccc;
  }
  .mat-mdc-form-field {
    display: block;
  }
}
